# Quartus
db/
incremental_db/
simulation/
simulation_work/
settings.txt
.qsys_edit/
.qsys_edit_lock
.qgs_edit/
.qgs_edit_lock
.qpf.bak
.qsf.bak
.qws.bak
.qip.bak
.sdc.bak
.vhd.bak
.v.bak
.sv.bak
.vlog.bak
.vams.bak
.qsys.bak
.qsys_edit.bak
.qgs.bak
.qgs_edit.bak
.qsf.rpt
.qgs.rpt
.qsys.rpt
.qpf.rpt
.sdc.rpt
.vhd.rpt
.v.rpt
.sv.rpt
.vlog.rpt
.vams.rpt
.qpf_bak
.qsf_bak
.qws_bak
.qip_bak
.sdc_bak
.vhd_bak
.v_bak
.sv_bak
.vlog_bak
.vams_bak
.qsys_bak
.qsys_edit_bak
.qgs_bak
.qgs_edit_bak
.qsys_edit_lock
.qgs_edit_lock
.qpf_bak_
.qsf_bak_
.qws_bak_
.qip_bak_
.sdc_bak_
.vhd_bak_
.v_bak_
.sv_bak_
.vlog_bak_
.vams_bak_
.qsys_bak_
.qsys_edit_bak_
.qgs_bak_
.qgs_edit_bak_
.qsf.bak/
.qgs.bak/
.qsys.bak/
.qpf.bak/
.sdc.bak/
.vhd.bak/
.v.bak/
.sv.bak/
.vlog.bak/
.vams.bak/
.qsys_edit.bak/
.qgs_edit.bak/
*.log
*.rpt
*.smsg
*.history
*.qws
*.qip
*.qipx
*.mif
*.hex
*.pof
*.sof
*.jic
*.jam
*.cdf
*.conf
*.cmp
*.fit
*.fit.summary
*.pin
*.pin.summary
*.tan
*.tan.summary
*.sta.summary
*.sta.rpt
*.sta.timing
*.sta.summary
*.sta.timing.summary
*.sldc
*.sldc.summary
*.sldc.timing
*.sldc.timing.summary
*.summary
*.summary.rpt
*.sdc.summary
*.sdc.rpt
# *.v
*.vhd
*.sv
*.svh
*.vlog
*.vams
*.qsys
*.qgs
*.qsys_edit
*.qgs_edit
*.qpf
# *.qsf
*.qws
*.qip
*.done
*jditmp